/*************************************/
/* HEADER SECTION */
/*************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /*BECAUSE I WANT IT TO BE STICKY LATER*/
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 4.8rem;
  width: 6.8rem;
}

/*************************************/
/* NAVIGATION */
/*************************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 550;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/***********************************/
/* HERO SECTION */
/***********************************/
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-image-box {
  width: 100%;
  height: 100%;
}

.hero-image {
  width: 100%;
}

.happy-customers {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 6.4rem;
}

.happy-imgs {
  display: flex;
}

.happy-imgs img {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.happy-imgs img :last-child {
  margin: 0;
}

.happy-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.happy-text span {
  color: #cf711f;
  font-weight: 700;
}

/*************************************/
/* FEATURED-IN SECTION */
/*************************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.8rem;
  color: #777;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 8.2rem;
  filter: grayscale(100%);
}

/*************************************/
/* H0W-IT-WORKS SECTION */
/*************************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #bbb;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img {
  width: 72%;
  height: 85%;
}

/***************************/
/* PASTRIES SECTION */
/***************************/

.section-pastries {
  padding: 9.6rem 0;
}

.pastries {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 1.3rem;
  overflow: hidden;
}

.pastry-img Image {
  width: 26.7rem;
  height: 21.4rem;
}

.pastry-content {
  padding-top: 3.2rem;
  padding: 4.8rem;
}

.pastry-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 1rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.pastry-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.pastry-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pastry-att {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.pastry-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.all-recipes {
  text-align: center;
  font-size: 2.4rem;
}

.pastry-img {
  width: 100%;
}

/************************/
/* TESTIMONIALS SECTION */
/************************/

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 60fr 40fr;
  align-items: center;
}

.testimonial-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-image {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  margin-bottom: 1rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/***************************/
/* PASTRIES SECTION */
/***************************/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 1.3rem;
  width: 75%;
  margin-bottom: 4.8rem;
}

.pricing-plan--beginners {
  justify-self: end;
  border: 3px solid #fdf3eb;
  padding: 2.8rem;
}

.pricing-plan--advanced {
  background-color: #fdf2e9;
  padding: 3rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--advanced::after {
  content: "Premium value";
  position: absolute;
  top: 6%;
  right: -18%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 1.2rem 7rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  padding: 3.6rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
}

.plan-price span {
  font-size: 3.5rem;
  margin-right: 0.8rem;
  font-weight: 520;
}

.plan-text {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up {
  text-align: center;
  padding: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 3.2rem;
}

.feature-icon {
  color: #e67e22;
  font-size: 3.2rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

/*************************************/
/* CTA SECTION */
/*************************************/

.header-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  /*BECAUSE I WANT IT TO BE STICKY LATER*/
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 4.8rem;
  width: 6.8rem;
}

.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom#733f11, #e67e22);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 4.8rem;
}

.cta-image-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.164),
      rgba(230, 125, 34, 0.233)
    ),
    url("../images/124.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form ::placeholder {
  color: #aaa;
}

.cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/**********************/
/* FOOTER SECTION */
/*********************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.copyright {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
